<html>
    <body>
        <h1>Create a student record.</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="/create" method="post">
            <label for="roll">Roll:</label><br>
            <input type="number" id="roll" name="roll" value="0"><br><br>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="email">Email Address:</label><br>
            <input type="text" id="email" name="email"><br><br>
            <label for="phone">Phone:</label><br>
            <input type="number" id="phone" name="phone" value="0"><br><br>
            <label for="cgpa">CGPA:</label><br>
            <input type="number" id="cgpa" name="cgpa" step="0.01" value="0"><br><br>
            <input type="submit" value="Create">
        </form>
        <a href="{{url_for('welcome')}}"><button>Go back</button></a>
    </body>
</html>